{% extends "menu.html" %}
{% load static %}
{% load widget_tweaks %}
{% load monitor_extras %}

{% block content %}

  <form class="form" role="form" action="{% url 'monitor_ip_del' %}" method="post">
    {% csrf_token %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="muted panel-title">IP Addressess Monitored
          <input class="btn btn-primary btn-xs pull-right" type="submit" value="Delete Selected Monitors"/>
        </h3>
      </div>

      <div class="panel-body">
      {% if monitors %}
        <table id="monitor_table" class="table display">
          <thead><tr>
            <th></th>
            <th>IP Address</th>
            <th>Next Lookup</th>
            <th>Last Lookup</th>
            <th>Domains</th>
          </tr></thead>

          <tbody>

          {% for monitor in monitors %}
            <tr>
              <td><input type="checkbox" value="{{ monitor.ip_address }}" name="choices"></td>
              <td>{{ monitor.ip_address }}</td>
              <td>{{ monitor.next_lookup }}</td>
              <td>{{ monitor.last_lookup }}</td>
              <td>
                {% if monitor.last_hosts|length > 10 %}

                  {% with collapse_id=monitor.ip_address|digest %}
                    <button type="button" class="btn btn-link btn-xs" data-toggle="collapse" data-target="#{{ collapse_id }}" aria-expanded="true" aria-controls="{{ collapse_id }}">
                      {{ monitor.last_hosts|length }} IP addresses
                    </button>

                    <div id="{{ collapse_id }}" class="collapse">
                      {% for host in monitor.last_hosts %}
                        {{ host }}<br>
                      {% endfor %}
                    </div>
                  {% endwith %}

                {% else %}
                  {% for host in monitor.last_hosts %}
                    {{ host }}<br>
                  {% endfor %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% else %}
          There are no IP addresses currently being monitored
        {% endif %}
      </div>
    </div>
  </form>

  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="muted panel-title">IP Address Alerts for Last 72 Hours</h3>
    </div>

    <div class="panel-body">
    {% if alerts %}
      <table id="alert_table" class="table display">
        <thead><tr>
          <th>IP Address</th>
          <th>Alert Text</th>
          <th>Alert Time</th>
        </tr></thead>
        <tbody>
        {% for alert in alerts %}
          <tr>
            <td>{{ alert.ip_address }}</td>
            <td>{{ alert.alert_text }}</td>
            <td>{{ alert.alert_time }}</td>
          </tr>
        {% endfor %}
        </tbody></table>
    {% else %}
      No recent alerts available
    {% endif %}
    </div>
  </div>

{% endblock content %}

{% block sidekick %}

    <div class="list-group" align="center">
      <div class="list-group-item active">
        <h4 class="list-group-item-heading" align="center">IP Address Monitor</h4>
      </div>

      <div class="list-group-item">
        <form class="form-inline" role="form" action="{% url 'monitor_ip_add' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            {{ form.ips|attr:"class:form-control"|attr:"placeholder:Enter IP Addresses" }}<br>
            <input class="btn btn-success btn-md btn-block" type="submit" value="Monitor IPs"/>
          </div>
        </form>

        <br>
        <a class="btn btn-default btn-md btn-block" href="{% url 'monitor_ip_exp' %}">Export Monitor List</a>
      </div>

    </div>

{% endblock sidekick %}


{% block javascript %}
  {{ block.super }}
  <script src="{% static "monitors.js" %}"></script>
{% endblock javascript%}